body{
  vertical-align: middle;
}
#show_panel{
  width: 40%;
  float: left;
  text-align: center;
  border-right-style: solid;
  border-right-color: #2a286c;
  color: #2a286c;
  margin-top: 2.5%;
  height: 90%;
}
#logo{
width: 75%;
margin-right: 15%;
margin-top: 5%;
}
#main_heading{
  font-size: 7em;
}
#login_panel{
  padding-left: 4%;
  width: 55%;
  text-align: center;
  float: left;
  margin-top: 2.5%;
  height: 90%;
}
#Heading{
  font-size: 5em;
  font-weight: 700;
  margin-top: 5%;
  margin-left: 3%;
  color: #2a286c;
  text-align: left;
}
#email_label{
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 10%;
  float: left;
  margin-left: 6%;
  width: 20%;
  clear: left;
  text-align: left;
}
#email{
  font-size: 1.4em;
  font-weight: 100;
  margin-top: 10%;
  float: left;
  margin-left: 6%;
  width: 58%;
<<<<<<< HEAD
  text-align: left;
=======
>>>>>>> origin/master
  border-bottom-style: groove;
  border-bottom-color: #2a286c;
  border-bottom-width: 1px;
  outline-style: none;
}
#password_label{
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 5%;
  float: left;
  margin-left: 6%;
  width: 20%;
  text-align: left;
  clear: left;
}
#password{
<<<<<<< HEAD
=======
  font-size: 1.4em;
  font-weight: 100;
>>>>>>> origin/master
  margin-top: 5%;
  float: left;
  margin-left: 6%;
  width: 58%;
  border-bottom-style: solid;
  border-bottom-color: #2a286c;
  border-bottom-width: 1px;
  outline-style: none;
}
<<<<<<< HEAD
#password_content{
  font-size: 1.4em;
  font-weight: 100;
  width: 100%;
  border-style: none;
  outline-style: none;
}
#log_in_trigger{
  font-size: 1.2em;
  margin-top: 4%;
=======
#log_in_trigger{
  font-size: 1.2em;
  margin-top: 5%;
  top:3%;
>>>>>>> origin/master
  float: right;
  margin-right: 16%;
  width: 20%;
  background-color: #fff;
  border-radius: 10px;
  border-style: solid;
  border-color: #2a286c;
  color:#2a286c;
  padding: 10px;
  clear: left;
}

#join_me_link{
  font-size: 1.2em;
  margin-top: 35%;
  float: left;
  margin-left: 6%;
    clear: left;
}
