<<<<<<< HEAD
@font-face {
  font-family: 'General';
  font-style: normal;
  font-weight: 100;
  src: local('Comfortaa'), local('Comfortaa-Light'), url(lite.ttf);
}
@font-face {
  font-family: 'General';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), local('Comfortaa-Regular'), url(font.ttf);
=======
body{
font-family: 'Fredoka One', cursive;
font-size: 20px;
>>>>>>> origin/master
}
@font-face {
  font-family: 'General';
  font-style: normal;;
  font-weight: 700;
  src: local('Comfortaa'), local('Comfortaa-Bold'), url(heading.ttf);
}
body{
font-family: 'General', sans-serif;
}
